.vscode/
.idea/
.history/

/coverage
node_modules/
npm-debug.log
yarn.lock
package-lock.json
pnpm-lock.yaml

.DS_Store
Thumbs.db

_site
_data
dist
report.html
es/
lib/
yarn-debug.log*
yarn-error.log*
.env.local
